p{
  display: inline;
}
.inner-guion {
  display: block;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.savate-titulo {
  font-family: "Savate", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}